<%= turbo_frame_tag "cart_items" do %>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h5 class="mb-0">My Cart</h5>
    </div>
    <div class="card-body">
      <!-- Single item -->
      <% cart_product_lenght = cart_products.count %>
      <% cart_products.each_with_index do |product, index| %>
        <div class="row">
          <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <!-- Image -->
            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
              <%= image_tag(primary_image_url(product), class: "img-thumbnail", height: "300", width: "300") %>
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
            <!-- Image -->
          </div>

          <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
            <!-- Data -->
            <p><strong><%= product.name %></strong></p>
                              <p>Category: <%= product.category.name %></p>
            <!--                  <p>Size: M</p>-->
            <%= button_to cart_delete_product_path(product_id: product.id), method: :post, class: 'btn btn-danger btn-sm me-1 mb-2', data: { mdb_button_init: true, mdb_ripple_init: true, mdb_tooltip_init: true, toggle: 'tooltip' }, title: 'Remove item' do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <!-- Data -->
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <!-- Quantity -->
            <%= render partial: 'cart_item_quantity', locals: { product: product, cart_data: cart_data } %>
            <!-- Quantity -->

            <!-- Price -->
            <p class="text-start text-md-center">
              <strong><%= "$#{product.price}" %></strong>
            </p>
            <!-- Price -->
          </div>
        </div>
        <% if  index < cart_product_lenght - 1 %>
          <hr class="my-4" />
        <% end %>
      <% end %>
      <!-- Single item -->

    </div>
  </div>
<% end %>