<!-- Products -->
<section>
  <div class="container my-2">
    <div class="row">
      <% products.each do |product| %>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card my-2 shadow-0">

            <i class="fas fa-heart fa-lg heart" align="right"></i>
            <!--          <i class="fas fa-heart heart"></i>-->
            <a href="<%= pages_product_detail_path(id: product.id) %>" class="img-wrap">
              <%= image_tag(primary_image_url(product), class: "card-img-top", style: "aspect-ratio: 1 / 1") %>
            </a>
            <!--          <div class="ratings">-->
            <!--            <i class="fa fa-star rating-color"></i>-->
            <!--            <i class="fa fa-star rating-color"></i>-->
            <!--            <i class="fa fa-star rating-color"></i>-->
            <!--            <i class="fa fa-star rating-color"></i>-->
            <!--            <i class="fa fa-star"></i>-->
            <!--          </div>-->
            <div class="card-body p-0 pt-2 mx-5 my-3">
              <h5 align="center" class="card-title">$ <%= product.price %></h5>
              <a href="<%= pages_product_detail_path(id: product.id) %>"><p class="card-text mb-0" align="center" title="<%= product.name %>"><%= truncate(product.name, length: 24, omission: '...') %></p></a>
            </div>
            <!-- Button to add the product to the cart -->
            <%= button_to cart_add_product_path(product_id: product.id), method: :post, class: "btn btn-primary add-to-cart ms-6 mb-4", data: { turbo_frame: "my_cart" } do %>
              <i class="fa fa-shopping-cart"></i> Add to cart
            <% end %>
            <% if request.original_url.include?('wished_products') %>
              <%= button_to wished_products_path(product_id: product.id), method: :post, class: "btn add-to-cart btn-outline-danger ms-6 mb-4", data: { turbo: false } do %>
                <i class="fas fa-minus"></i> Remove from wishlist
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%= button_to wished_products_path(product_id: product.id), method: :post, class: "btn add-to-cart btn-outline-primary ms-6 mb-4", data: { turbo: false } do %>
                  <i class="fas fa-plus"></i> Add to wishlist
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Products -->