<div class="container w-50 p-4 my-5">
  <div class="card mb-3 p-lg-5">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right"><%= @user.first_name %>'s Profile</h4>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @user.full_name %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @user.email %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Mobile</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @user.mobile %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Gender</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @user.gender %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          <%= @user.full_address %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-info " target="__self" href="<%= edit_user_registration_path %>">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>