<div class="container w-50 my-5">
  <div class="card login-form p-5">
    <div class="card-body my-5">
      <h3 class="card-title text-center">Change your password</h3>
      <div class="card-text">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.label :password, "New password", class: "form-label" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <br>
            <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control form-control-lg" %>
          </div>
          <br>
          <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
