<div class="container w-50 my-5">
  <div class="card login-form p-5">
    <div class="card-body my-lg-5">
      <h3 class="card-title text-center">Forgot your password?</h3>
      <div class="card-text">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label "Enter your email address and we will send you a link to reset your password.", class: "form-label" %>
            <%= f.email_field :email, autofocus: true, input_html: { autocomplete: 'email' }, class: "form-control form-control-lg"   %>
          </div>
          <br>
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>