<div class="container">
  <header class="header" style="display: none;">
    <div class="header_main">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
            <div class="header_search">
              <div class="header_search_content">
                <div class="header_search_form_container">
                  <form action="#" class="header_search_form clearfix">
                    <div class="custom_dropdown">
                      <div class="custom_dropdown_list"> <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
                        <ul class="custom_list clc">
                          <li><a class="clc" href="#">All Categories</a></li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="product-details">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
      <div class="row">
            <div class="col-lg-6 my-5">
              <section id="main-slider" class="splide" aria-label="My Awesome Gallery">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide">
                      <%= image_tag("products/prod1.webp") %>
                    </li>
                    <li class="splide__slide">
                      <%= image_tag("products/prod2.webp") %>
                    </li>
                    <li class="splide__slide">
                      <%= image_tag("products/prod3.webp") %>
                    </li>
                  </ul>
                </div>
              </section>
              <ul id="thumbnails" class="thumbnails">
                <li class="thumbnail">
                  <%= image_tag("products/prod1.webp") %>
                </li>
                <li class="thumbnail">
                  <%= image_tag("products/prod2.webp") %>
                </li>
                <li class="thumbnail">
                  <%= image_tag("products/prod3.webp") %>
                </li>
              </ul>

            </div>
            <div class="col-lg-6 order-3">
              <div class="product_description">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Accessories</li>
                  </ol>
                </nav>
                <div class="product_name">Zero Caliber Pro All-Metal Appearance</div>
                <div class="product-rating">
                    <div class="ratings" style="margin:0">
                      <span>5.0</span>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star"></i><span>&nbsp;&nbsp;&nbsp;37 Ratings</span>
                  </div></div>
                <div> <span class="product_price">$ 29,000</span> <strike class="product_discount"> <span style='color:black'>$ 2,000</span> </strike> </div>
                <div> <span class="product_saved">You Saved:</span> <span style='color:black'>$ 2,000</span> </div>
                <hr class="singleline">
                <div> <span class="product_info">Warranty: 6 months warranty</span><br> <span class="product_info">7 Days easy return policy</span><br><span class="product_saved">Availability</span><br><span class="h5" style="color:forestgreen">In Stock</span></div>
                <hr class="singleline">
                <div class="row">
                  <div class="col-xs-6">
                    <button class="btn btn-primary shop-button"><i class="fa fa-shopping-cart"></i> Add to cart</button>&nbsp;&nbsp;<button type="button" class="btn shop-button btn-outline-primary"><i class="fas fa-plus"></i> Add to wishlist</button>&nbsp;&nbsp;<div class="product_fav"><i class="fas fa-heart"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- Related Products -->
        <section class="mt-5 mb-4">
        <div class="container text-dark">
          <header class="">
            <h3 class="section-title">Related Products</h3>
          </header>

          <div class="row gy-3">
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <%= image_tag("products/zero-caliber-pro-all-metal-appearance-pakistan-priceoye-ylnh5-270x270.webp", class: "img-thumbnail recent-products", height: "200", width: "200") %>
              </a>
            </div>
            <!-- col.// -->
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/2.webp" />
              </a>
            </div>
            <!-- col.// -->
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp" />
              </a>
            </div>
            <!-- col.// -->
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp" />
              </a>
            </div>
            <!-- col.// -->
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" />
              </a>
            </div>
            <!-- col.// -->
            <div class="col-lg-2 col-md-4 col-4">
              <a href="#" class="img-wrap">
                <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/6.webp" />
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Related Products -->
      </div>
    </div>
  </div>
<%= javascript_include_tag 'splide-4.0.1.min.js' %>
