<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>


<section class="my-10">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center p-5 h-100" style="background-color: #FFFFFF">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <%= image_tag("draw2.svg", class: "img-fluid") %>
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg"   %>
            <%= f.label "Email Address", class: "form-label" %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
            <%= f.label :password, class: "form-label" %>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              <% end %>
            </div>
            <%= render "devise/shared/links" %>
          </div>

          <!-- Submit button -->
          <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
        </div>

        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
           role="button">
          <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
        </a>

        <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
        <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
           role="button">
          <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>

      </div>
    </div>
  </div>
</section>

