<!-- app/views/admin/products/index.html.erb -->

<div class="container mt-5">
  <h1>Products</h1>
  <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-primary my-3' %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Stock Quantity</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name if product.category %></td>
        <td><%= product.stock_quantity %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="clearfix">
    <div class="pull-left">
      <%= paginate @products %>
    </div>
  </div>
</div>
